@model HotelBahia.BussinesLogic.Domain.Habitacion

@{
    ViewData["Title"] = "Detalles de la habitacion";
}

<div>
    <h4>Habitacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Piso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Piso)
        </dd>
        <dt>
            Estado
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstadoHabitacion.EstadoHabitacionId)
        </dd>
        <dt>
            Tipo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoHabitacion.TipoHabitacionId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HabitacionId">Editar</a> |
    <a asp-action="Index">Regresa a la lista</a>
</div>
