@model HotelBahia.BussinesLogic.Domain.Habitacion

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Habitacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Piso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Piso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstadoHabitacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstadoHabitacion.EstadoHabitacionId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoHabitacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoHabitacion.TipoHabitacionId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HabitacionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
