@model IEnumerable<HotelBahia.BussinesLogic.Domain.Actividad>

@{
    ViewData["Title"] = "Lista de actividades";
}

<p>
    <a class="btn btn-primary" asp-action="Create">Añadir actividad</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                Tipo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>

                @if (item.Estado == 0)
                {
                <p>Inactivo</p>
                }
                @if (item.Estado == 1)
                {
                <p>Activo</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoActividad.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ActividadId">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.ActividadId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
