@model IEnumerable<HotelBahia.BussinesLogic.Domain.Empleado>

@{
    ViewData["Title"] = "Lista de empleados";
}

<p>
    <a asp-action="Create">Nuevo empleado</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario.Rol.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Rol.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmpleadoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.EmpleadoId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.EmpleadoId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
