@model HotelBahia.BussinesLogic.Domain.ObjetoPerdido

@{
    ViewData["Title"] = "Detalles del objeto perdido";
}

<div>
    <h4>Objeto Perdido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Habitacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Habitacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @if (Model.Estado == 0)
            {
                <p>Pendiente</p>
            }
            @if (Model.Estado == 1)
            {
                <p>Devuelto</p>
            }
        </dd>
        <dt>
            Registrado por
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Empleado.Apellidos)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ObjetoPerdidoId">Editar</a> |
    <a asp-action="Index">Regresar a la lista</a>
</div>
