@model IEnumerable<HotelBahia.BussinesLogic.Domain.ObjetoPerdido>

@{
    ViewData["Title"] = "Lista de objetos perdidos";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habitacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Habitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @if (item.Estado == 0)
                {
                    <p>Pendiente</p>
                }
                @if (item.Estado == 1)
                {
                    <p>Devuelto</p>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ObjetoPerdidoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ObjetoPerdidoId">Ver detalles</a>
            </td>
        </tr>
}
    </tbody>
</table>
