@model IEnumerable<HotelBahia.BussinesLogic.Domain.AsignacionHabitacion>
@using HotelBahia.BussinesLogic.Domain.Enums
@{
    ViewData["Title"] = "Lista de asignaciones de Supervisores";
}

<p>
    <a class="btn btn-primary" asp-action="Create">Añadir asignacion</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Habitacion)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Empleado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Habitacion.Numero)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Empleado.Nombres) @Html.DisplayFor(modelItem => item.Empleado.Apellidos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AsignacionHabitacionId">Cambiar</a> |
                <a asp-action="Delete" asp-route-id="@item.AsignacionHabitacionId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
