@model IEnumerable<HotelBahia.Presentacion.Web.Models.EvaluacionModel>

@{
    ViewData["Title"] = "Lista de Evaluaciones";
}

<p>
    <a asp-action="Create">Crear nueva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Empleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResultadoEvaluacion.Valoracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResultadoEvaluacion.Evaluador)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado.UsuarioNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResultadoEvaluacion.Valoracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResultadoEvaluacion.Evaluador)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.EvaluacionSupervisor.EvaluacionSupervisorId">Ver detalles</a>
            </td>
        </tr>
}
    </tbody>
</table>
